/***********************/
/***********************/
/***********************/
.ReactModal__Overlay{
  z-index: 1000;
}
.ReactModal__Content{
  top: 1% !important;
  right: 1% !important;
  left: 18% !important;
  bottom: 1% !important;
}

.react-flow{
  height: 95%;
}